parameters:
    database_driver:    pdo_mysql
    database_host:      localhost
    database_port:      3306
    database_user:      root
    database_pass:      ~
    database_name:      ~
    database_charset:   utf8

    forum_url:          ~

    bridge_class:       Comrade42\PhpBBParser\Bridge\SimpleMachinesBridge
